html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}


.logo__container {
  width: 450px;
  margin: 0 auto;
  position: relative;
  top: 40%;
}

.logo {
  width: 450px;
}

.letter__container {
  display: block;
  position: absolute;
  bottom: 5%;
  left: 40%;


  -webkit-transform: rotate(-30deg) translateY(20%);
  -moz-transform: rotate(-30deg) translateY(20%); 
  -ms-transform: rotate(-30deg) translateY(20%); 
  -o-transform: rotate(-30deg) translateY(20%);
  transform: rotate(-30deg) translateY(20%);

  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;

}