html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.logo__container {
  width: 450px;
  margin: 0 auto;
  position: relative;
  top: 40%;
}

.logo {
  width: 450px;
}

.letter__container {
  display: block;
  position: absolute;
  bottom: 5%;
  left: 40%;

  -webkit-animation: move-to-corner 2s;
  -webkit-animation-fill-mode: forwards;
  animation: move-to-corner 2s;
  animation-fill-mode: forwards;
}


@-webkit-keyframes move-to-corner {
    from {
      bottom: 5%;
      left: 40%;
      -webkit-transform: rotate(0deg);
    }
    to {
      bottom: -25%;
      left: 56%;
      -webkit-transform: rotate(-30deg);
    }
}

@keyframes move-to-corner {
    from {
      bottom: 5%;
      left: 40%;
      transform: rotate(0deg);
    }
    to {
      bottom: -25%;
      left: 56%;
      transform: rotate(-30deg);
    }
}

.ie .logo__container {
  display: none;
}
.ie .letter__container {
  display: none;
}